body{
display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    height: 60%;
}

.bloco {
    position: relative;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    animation-name: minhaAnimacao;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes minhaAnimacao{

0% {
    transform: rotate(0deg);
    background-color: cornflowerblue;
  transition: 0s 10s;
}
25% {
    transform: rotate(90deg);
    background-color: yellow;
    transition: 0s 10s;
}
50% {
    transform: rotate(180deg);
    background-color: violet;
    transition: 0s 10s;
}
75% {
    transform: rotate(270deg);
    background-color: brown;
    transition: 0s 10s;
 
}
100% {
    transform: rotate(360deg);
    background-color: cornflowerblue;
    transition: 0s 10s;
 
}

}
