#header{
background-color: blue;
width: 100%;
text align: center;
height: 100px;


}   

#menu{
background-color: red;
width: 100%;
text-align: center;
height: 40px;
left: 0px;
top: 70px;
position: absolute;
}

#menu h2{
	margin:-top: 10px;
}

#secao{
	float: left;
}

#left{
background-color: green;
position: absolute;
width: 25%;
height: 600px;
text-align: center;
left: 0px;
top: 110px;
float: left;

}
#center{
background-color: yellow;
position: absolute;
width: 50%;
height: 600px;
text-align: center;
left: 346.5px;
top: 110px;
float: left;
}
#right{
background-color: orange;
position: absolute;
width: 25%;
height: 600px;
text-align: center;
right: 0px;
top: 110px;
float: right;
}

#footer{
background-color: gray;
position: absolute;
width: 100%;
text-align: center;
height: 48px;
left: 0px;
top: 780px;

}

#footer h2{
margin-top: 10px;
}



